.footer {
  background: $color-grey-primary;
  height:     $footer-height;
  font-size:  .8em;

  @include bg-gradient(
                  color(footer-background-start-color),
                  color(footer-background-end-color)
  );

  .footer {
    @import "elements/footer-menu";
    @import "elements/footer-social-links";
    @import "elements/footer-copyrights";
  }
}
