div(class = ['content'])
    include header.pug

    div(class = ['container'])
        include elements/content-left-side.pug
        include elements/content-right-side.pug
    div(class = ['footer-sticky'])