div(class = ["header"])
    div(class = ['container'])
        include elements/header-logo.pug
        include elements/header-text.pug
        include elements/header-menu.pug
    include elements/header-tagLine.pug
    include elements/header-products.pug
