div(class = ['client-testimonials'])
    div(class = ['client-testimonials--author']) Jeff Richards
    div(class = ['client-testimonials--company']) YellowPages company
    div(class = ['client-testimonials--testimonial']) We were and still are on a mission to change the world as we know it. Six years and lost a blood, sweat, and tears later, we know how.
    a(class = ['button capitalized'], href = "#!") lear more