div(class = ['content-left-side'])
    div(class = ['content-left-side--paragraph'])
        p Mobile phone application development for businesses from all arount the world across all major smartphone platforms.
        p We can take your business mobile with fast & affordable mobile application development, which could potentially deliver your products or services to millions of people.