form(class = ["forms-request-quote"], data-url = "")
    div
        input(type = "text")/
    div
        input(type = "email")/
    div
        textarea
    div
        input(type = "submit", class = ["button"])/