form(class = ["forms-request-quote"], data-url = "")
    div
        label Your name
        input(type = "text")/
    div
        label E-mail
        input(type = "email")/
    div
        label Message
        textarea
    div
        input(type = "submit", class = ["button"], value = "send")/
