div(class = ["container header-products--apps"])
    ul
        li
            span(class = 'label') Business Apps
            a(href = "#!")
            span(class = 'substrate')
        li
            span(class = 'label') Entertainment Apps
            a(href = "#!")
            span(class = 'substrate')
        li
            span(class = 'label') Gaming Apps
            a(href = "#!")
            span(class = 'substrate')
