ul
    li
        a(href = '#!') Home
    li
        a(href = '#!', class = ['active']) Services
    li
        a(href = '#!') Company
    li
        a(href = '#!') Careers
    li
        a(href = '#!') Contact us