&-left-side {
  width: 70%;
  float: left;

  @include mq($until: desktop) {
    width: 60%;
  }

  @include mq($until: tablet) {
    width: 100%;
    float: none;

    &--paragraph {
      padding-right: 0px !important;
    }
  }

  &--paragraph {
    margin-top:    10px;
    padding-right: 20px;

    p {
      font-size:   .9em;
      margin-top:  20px;
      line-height: 1.2;
    }
  }
}
