&-social-links {
  @extend .clearfix;

  margin-bottom: 10px;
  clear:         both;

  li {
    float:        left;
    margin-right: 12px;

    &:nth-child(1) {
      a {
        @include sprite(icon-fb);
      }
    }

    &:nth-child(2) {
      a {
        @include sprite(icon-tw);
      }
    }

    &:nth-child(3) {
      a {
        @include sprite(icon-in);
      }
    }
  }
}
