&--button {
  position: absolute;
  right:    30px;
  top:      55px;
  cursor:   pointer;

  &:before {
    content:       "";
    position:      absolute;
    top:           0.25em;
    left:          0;
    width:         1em;
    height:        0.125em;
    border-top:    0.375em double #000;
    border-bottom: 0.125em solid #000;
  }

  @include mq($from: desktop) {
    display: none !important;
  }
}
