&-tagLine {
  border-top:    1px solid color(header-tagLine-top-line);
  border-bottom: 1px solid color(header-tagLine-bottom-line);
  margin-top:    20px;

  @include bg-gradient(
                  color(header-tagline-background-start-color),
                  color(header-tagline-background-end-color)
  );

  @include shadowed-block(color(header-products-background-start-color), 114px);
}

