&-menu {
  float:       right;
  line-height: 52px;
  position: relative;

  @extend .clearfix;
  @extend .menu;

  @include mq($until: desktop) {
    ul {
      display: none;
    }
  }

  @import "header-menu--button";
}
