@include font-face("defaultgothicbgauge", "../fonts/defaultgothicbgauge-webfont", 300, normal);
@include font-face("SohoGothicPro-regular", "../fonts/SohoGothicPro-Regular", 300, normal);
@include sticky-footer(54px, ".content", ".footer-sticky", ".footer");

html, body {
  font-family: "SohoGothicPro-regular", sans-serif !important;
}

.button {
  @include truncated();
  @include button($color-green-primary);

  border-radius:  4px;
  text-transform: uppercase;
  color:           white !important;
  text-decoration: none;

  small {
    font-size: 80%;
  }
}

blockquote {
  padding:     20px;
  margin:      20px;
  font-size:   1.1em;
  line-height: 1.5;

  @include mq($until: tablet) {
    margin: 20px 0 20px 0;
  }

  &.regular {
    color: inherit;
  }

  &.accented {
    background:  $color-blue-primary;
    color:       white;
    text-shadow: 1px 1px 1px darken($color-blue-primary, 20%);
  }
}

.separator {
  @include separator();
}

.heading {
  margin: 20px;

  .heading-title {
    color:          $color-blue-primary;
    text-align:     center;
    text-transform: uppercase;
    margin-left:    10px;
    font-weight:    700;

    @include truncated();
  }
}

.menu {
  li {
    float:        left;
    margin-right: 4px;

    a {
      padding:         4px;
      text-decoration: none;
      color:           $color-blue-primary;
      text-transform:  capitalize;

      &:hover {
        text-decoration: underline;

        &.active {
          text-decoration: none;
        }
      }

      &.active {
        background: $color-grey-primary;
        color:      darken($color-grey-primary, 50%);
      }
    }
  }
}
