@include font-face("defaultgothicbgauge", "../fonts/defaultgothicbgauge-webfont", 300, normal);
@include font-face("SohoGothicPro-regular", "../fonts/SohoGothicPro-Regular", 300, normal);
@include sticky-footer(54px, ".content", ".footer-sticky", ".footer");

html, body {
  font-family: "SohoGothicPro-regular", sans-serif !important;
}

.button {
  @include truncated();

  border-radius: 4px;
}

blockquote {
  padding:     20px;
  margin:      20px;
  font-size:   1.1em;
  line-height: 1.5;

  &.regular {
    color: inherit;
  }

  &.accented {
    background: $color-blue-primary;
    color:      white;
  }
}

.separator {
  @include separator();
}

.heading {
  margin: 20px;

  .heading-title {
    color: $color-blue-primary;
    text-align: center;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 700;
  }
}

.menu {
  li {
    float: left;

    a {

    }
  }
}