.clearfix {
  @include clearfix();
}

.container {
  margin:    0 auto;
  min-width: 80%;
  width:     80%;

  @extend .clearfix;

  @include mq($from: wide) {
    width:     70%;
    min-width: 70%;
  }
}
