$mq-breakpoints: (
                         mobile: 320px,
                         tablet: 740px,
                         desktop: 980px,
                         wide: 1280px
                 );

$header-tagLine-height:   124px;
$header-products-height:  116px;
$header-products-height-small:  100px;
$header-margin-top:       40px;
$header-products--apps-top: 190px;
$header-products--apps-size: 100px;

$footer-height: 100px;

$color-blue-primary: #4e97c9;
$color-grey-primary: #d5d5d5;
$color-green-primary: #6fb338;

$colors: (
                 header-tagLine-top-line: darken($color-blue-primary, 15%),
                 header-tagLine-bottom-line: white,
                 header-tagline-background-start-color: lighten($color-blue-primary, 20%),
                 header-tagline-background-end-color: $color-blue-primary,
                 header-products-background-start-color: lighten($color-grey-primary, 10%),
                 header-products-background-end-color: $color-grey-primary,
                 footer-background-start-color: $color-grey-primary,
                 footer-background-end-color: lighten($color-grey-primary, 10%),
         );

